#disqus_thread

script.  
  var disqus_config = function () {
    this.page.url = '#{config.url}/#{page.path}';
    this.page.identifier = '#{page.id || page.path}';
    this.page.title = '#{page.title}';
  };


script.
  (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://#{theme.disqus_shortname}.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();

<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>